@import url(./css/global.nav.css);
@import url(./css/mixte.nav.css);
@import url(./css/nav.spinner.css);

*, *::before, *::after {
    padding: 0; margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black;
}